@font-face {
  font-family: "Carter One", cursive;
  src: local("Carter One"), url("./fonts/Carter_One/CarterOne-Regular.ttf");
  font-weight: regular;
}
@font-face {
  font-family: "Courier Prime", monospace;
  src: local("Courier Prime"),
    url("./fonts/Courier_Prime/CourierPrime-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Prime", monospace;
  src: local("Courier Prime"),
    url("./fonts/Courier_Prime/CourierPrime-BoldItalic.ttf");
  font-weight: bolditalic;
}
@font-face {
  font-family: "Courier Prime", monospace;
  src: local("Courier Prime"),
    url("./fonts/Courier_Prime/CourierPrime-Italic.ttf");
  font-weight: italic;
}
@font-face {
  font-family: "Courier Prime", monospace;
  src: local("Courier Prime"),
    url("./fonts/Courier_Prime/CourierPrime-Regular.ttf");
  font-weight: regular;
}
@font-face {
  font-family: "Special Elite", cursive;
  src: local("Special Elite"),
    url("./fonts/Special_Elite/SpecialElite-Regular.ttf");
  font-weight: regular;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
